<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="{{asset "components/normalize-css/normalize.css"}}">
    <link rel="stylesheet" href="{{asset "components/bootstrap/dist/css/bootstrap.min.css"}}">
    <link rel="stylesheet" href="{{asset "components/font-awesome/css/font-awesome.min.css"}}">
    <link rel="stylesheet" href="{{asset "dist/styles/supernova.css"}}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div class="wrapper">
      {{! The big featured header on the homepage, with the site logo and description }}
      <header class="jumbotron blog-cover" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}} id="blog-cover">
        <div class="blog-cover-overlay">
          <div class="blog-overlay-links">
            <a href="{{@blog.url}}" class="blog-link-return fadeInUp">
              {{#if @blog.logo}}
                <img src="{{@blog.logo}}" alt="{{@blog.title}}">
              {{/if}}
              {{@blog.title}}
            </a>
            <a href="{{@blog.url}}/ghost/" class="blog-link-login">
              <i class="fa fa-lock"></i> My Ghost
            </a>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-2 text-center blog-cover-content fadeInUp" id="blog-cover-content">
              {{#if @blog.logo}}
                <a class="blog-image" href="{{@blog.url}}" id="blog-image">
                  <img src="{{@blog.logo}}" alt="{{@blog.title}}">
                </a>
              {{/if}}
              <h1 class="blog-title" id="blog-title">
                <a href="{{@blog.url}}">
                  {{@blog.title}}
                </a>
              </h1>
              <p class="blog-subtitle" id="blog-subtitle">{{@blog.description}}</p>
            </div>
          </div>
        </div>
      </header>

      <div class="container">
        {{{body}}} {{! Everything else gets inserted here }}
      </div>
    </div> <!-- .wrapper -->

    <footer class="main-footer">
      <div class="container">
        <div class="col-sm-2">
          <p>
            <a href="{{@blog.url}}/rss/">
              <i class="fa fa-rss"></i> RSS
            </a>
          </p>
          <p>
            <a href="//twitter.com/justusebrain">
              <i class="fa fa-twitter"></i> justusebrain
            </a>
          </p>
        </div>
        <div class="col-sm-10 col-lg-8">
          <p>
            {{!-- All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved. --}}
            <a href="{{@blog.url}}/">{{@blog.title}}</a>
          </p>
          <p>
            Proudly published with <a href="http://ghost.org">Ghost</a>, design: <a href="https://github.com/theaqua/Supernova.ghost" title="version 0.2">Supernova</a>.
          </p>
        </div>
      </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Supernova }}
    <script src="{{asset "dist/scripts/supernova.js"}}"></script>
  </body>
</html>
