<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" href="{{asset "components/bootstrap/dist/css/bootstrap.min.css"}}">
    <link rel="stylesheet" href="{{asset "components/font-awesome/css/font-awesome.min.css"}}">
    <link rel="stylesheet" href="{{asset "components/highlightjs/styles/dark.css"}}">
    <link rel="stylesheet" href="{{asset "dist/styles/supernova.css"}}">

    {{ghost_head}} {{! Ghost outputs important style and meta data with this tag }}
  </head>
  <body class="{{body_class}}">
    <header class="jumbotron blog-cover {{#if @blog.cover}}covered{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}} id="blog-cover">
      <div class="blog-cover-overlay"></div>

      <div class="container">
        <nav class="navbar navbar-supernova fadeInUp" role="navigation">
          <div class="row">
            <div class="col-lg-10">
              <div class="navbar-header">
                <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-supernova-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <i class="fa fa-bars"></i>
                </a>
                <a class="navbar-brand visible-xs" href="/">
                  {{@blog.title}}
                </a>
              </div>
            
              <div class="collapse navbar-collapse navbar-supernova-collapse">
                <ul class="nav navbar-nav pull-right">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li class="navbar-ghost">
                    <a href="{{@blog.url}}/ghost/" data-no-instant>
                      <i class="fa fa-lock"></i> Ghost
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </nav>

        <div class="row">
          <div class="col-sm-12 col-lg-8 col-lg-offset-2 text-center fadeInUp" id="blog-cover-content">
            {{#if @blog.logo}}
              <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="blog-image" id="blog-image">
            {{/if}}
            <h1 class="blog-title" id="blog-title">
              <a href="{{@blog.url}}">
                {{@blog.title}}
              </a>
            </h1>
            <p class="lead" id="blog-subtitle">{{@blog.description}}</p>
          </div>
        </div>
      </div> <!-- .container -->
    </header>

    <section class="container">
      {{{body}}}
    </section>

    <footer class="main-footer fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <p>
              <a href="{{@blog.url}}/rss/">
                <i class="fa fa-rss"></i> Subscribe
              </a>
            </p>
            <p>
              <a href="//twitter.com/justusebrain">
                <i class="fa fa-twitter"></i> justusebrain
              </a>
            </p>
          </div>
          <div class="col-sm-10 col-lg-8">
            <p>
              <a href="{{@blog.url}}/">{{@blog.title}}</a>
            </p>
            <p>
              Proudly published with <a href="http://ghost.org">Ghost</a>, design: <a href="http://theaqua.im/supernova/" title="version 0.4">Supernova</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>

    {{ghost_foot}} {{! Ghost outputs important scripts and data with this tag }}

    <script src="{{asset "components/instantclick/instantclick.js"}}" data-no-instant></script>
    <script src="{{asset "components/highlightjs/highlight.pack.js"}}"></script>
    <script src="{{asset "components/bootstrap/js/transition.js"}}"></script>
    <script src="{{asset "components/bootstrap/js/collapse.js"}}"></script>
    <script data-no-instant>
      InstantClick.init();
      hljs.initHighlightingOnLoad();
      replaceNav();

      function replaceNav() {
        $(".newer-posts").html("<i class='fa fa-angle-left'></i> Newer posts")
        $(".older-posts").html("Older posts <i class='fa fa-angle-right'></i>")
      }

      InstantClick.on("change", function() {
        replaceNav();

        $("pre code").each(function(i, e) {
          return hljs.highlightBlock(e);
        });
      });
    </script>
    {{#if post}}
    <script src="{{asset "dist/scripts/supernova.js"}}"></script>
    {{/if}}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans&subset=latin,cyrillic">
  </body>
</html>