<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" href="{{asset "styles/app.css"}}">

    {{ghost_head}} {{! Ghost outputs important style and meta data with this tag }}
  </head>
  <body class="{{body_class}}">
    <div class="wrapper">
      <nav class="navbar navbar-supernova {{#if @blog.cover}}navbar-supernova-covered{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-supernova-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="/">{{@blog.title}}</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-supernova-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/">Home</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-ghost"><a href="{{@blog.url}}/ghots">Ghost</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="panel panel-supernova">
          <div class="panel-body blog-cover">
            <div class="row">
              <div class="col-sm-12 col-lg-8 col-lg-offset-2 text-center fadeInUp">
                <h1 class="blog-cover-title">
                  <a href="{{@blog.url}}">
                    {{@blog.title}}
                  </a>
                </h1>
                <p class="blog-cover-subtitle">{{@blog.description}}</p>
              </div>
            </div>
          </div>

          <section class="panel-body">
            {{{body}}}
          </section>
        </div>
      </div>
    </div>

    <footer class="footer-global fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              <a href="{{@blog.url}}/rss/">RSS</a> of <a href="{{@blog.url}}/">{{@blog.title}}</a>.
            </p>
            <p>
              Proudly published with <a href="http://ghost.org">Ghost</a>, design: <a href="http://theaqua.im/supernova/" title="version 0.5.8">Supernova</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>

    {{ghost_foot}} {{! Ghost outputs important scripts and data with this tag }}

    <script src="{{asset "scripts/supernova.js"}}"></script>
    <script data-no-instant>
      hljs.initHighlightingOnLoad();
      InstantClick.init();
    </script>
    {{#if post}}
    <script>
      var disqus_shortname = "theaqua"; // required: replace example with your forum shortname

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    {{/if}}
  </body>
</html>