{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<section role="main">
  <div class="col-xs-12">
    {{#foreach posts}} {{! Each post will be output using this markup }}
      <article class="{{post_class}} row">
        <div class="col-sm-2">
          <h3>
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
          </h3>
        </div>
        <div class="col-sm-8">
          <div class="post-content">
            <h3 class="post-title">
              <a href="{{url}}">{{{title}}}</a>
            </h3>          

            <p>{{excerpt}} <a href="{{url}}">Read more <i class="fa fa-angle-right"></i></a></p>

            <p class="post-tags">
              {{tags prefix="Tags: "}}
            </p>
          </div>
        </div>
      </article>
    {{/foreach}}

    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        {{pagination}} {{!! After all the posts, we have the previous/next pagination links }}
      </div>
    </div>
  </div>
</section>