{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<article class="row {{post_class}} fadeInUp">
  <div class="col-xs-12">
    {{#post}}
      <div class="row">
        <div class="col-lg-2 post-meta">
          <h3>
            <time datetime="{{date format='YYYY-MM-DD'}}" id="post-date">{{date format="DD MMM YYYY"}}</time>
          </h3>
          <p class="post-tags">
            {{tags}}
          </p>
        </div>
        <div class="col-lg-8 post-content">
          <h3 class="post-title" id="post-title">{{{title}}}</h3>

          {{content}}
        </div>
      </div> <!-- .row -->

      <footer class="post-footer">
        <div class="row post-author">
          <div class="col-lg-2 post-meta">
            <h3>Author</h3>
          </div>
          <div class="col-lg-10">
            <div class="row">
{{!--               <div class="col-xs-3 col-md-2">
                <img src="{{author.image}}" class="post-author-image" alt="">
              </div>
 --}}              <div class="col-xs-9 col-md-10">
                <h3>{{author.name}}</h3>
                <p>{{author.bio}}</p>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="row post-disqus">
        <div class="col-xs-12">
          <div id="disqus_thread"></div>
        </div>
      </div>
    {{/post}}
  </div>  
</article>